.dropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

/*    development mode*/
    border: 1px solid black;
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    width: 85px;
    padding-top: 5px;
    padding-bottom: 5px;

    border: 1px solid grey;
}
.drop-down-item {
    padding-top: 5px;
    padding-bottom: 5px;
}

.drop-down-item {
    background-color: var(--primary-variant-dark);
}

NavLink {
    color: var(--white);
}