.main-element {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: var(--height-content);
    width: 100%;
}

.content-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 1000px;
}
.title-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
}
.title-div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.data-title {
    margin-right: 50px;
}
.admin-titlebar {
    display: flex;
    flex-direction: row;
}
.article-div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
}

.article-div p {
    flex: 1;
    margin: 0;
    padding: 5px;
}

.back-text {
    margin-top: 100px;
    width: 200px;
}

::placeholder {
    color: black;
}