a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover {color: blue;}
ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

li {
    margin-left: 25px;
}

.logo {
    width: 40px;
}

.header {
    display: flex;
    flex-direction: column;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100px;
    margin-top: 50px;

    /*development mode*/
    border: solid black 2px;
}

NavLink {
    list-style: none;
}

.person-icon {
    display: flex;
    /*align-content: center;*/
}
.active-link {
    border-bottom: solid blue 1px;
}

.default-link {
    color: black;
}

.nav-username-open {
    color: black;
    font-size: 16px;
    position: relative;
    right: 0px;
}

.nav-username-closed {
    color: black;
    font-size: 16px;
    position: relative;
    right: 45px;
}

.person-icon {
    margin-left: 5px;
}

.search-bar {
    display: flex;
    height: 2em;
}

.search-field {
    width: 600px;
}

.search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:cornflowerblue;
    color: var(--white);
    width: 80px;
}