a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover {color: blue;}
ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

li {
    margin-left: 25px;
}

.logo {
    width: 40px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border: solid black 2px;
}

NavLink {
    list-style: none;
}

.active-link {
    border-bottom: solid blue 1px;
}

.default-link {
    color: black;
}

.nav-username {
    color: black;
    font-size: 16px;
    margin-right: 20px;
}