a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover {color: blue;}
ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

li {
    margin-left: 25px;
}

.logo {
    width: 40px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    border: solid black 2px;
}

NavLink {
    list-style: none;
}

.drop-down-nav {
    display: flex;
    align-items: center;
    height: 40px;
}
.drop-down-nav-open {
    display: flex;
    position: relative;
    color: green;
    top: 30px;
    align-items: center;
    height: 40px;
}

.drop-down-items {
    display: flex;
    flex-direction: column;
}
.drop-down-item {
    height: 1.5em;
    width: 70px;
    border: 1px solid black;
}

.person-icon {
    display: flex;
    /*align-content: center;*/
}
.active-link {
    border-bottom: solid blue 1px;
}

.default-link {
    color: black;
}

.nav-username {
    color: black;
    font-size: 16px;
}

.person-icon {
    margin-left: 5px;
}

.drop-down-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.search-bar {
    display: flex;
    height: 30px;
}

.search-field {
    width: 60vw;
}

.search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:cornflowerblue;
    color: var(--white);
    width: 80px;
}