a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover {color: blue;}
ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

li {
    margin-left: 25px;
}

.logo {
    width: 40px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    border: solid black 2px;
}

NavLink {
    list-style: none;
}

.active-link {
    border-bottom: solid blue 1px;
}

.default-link {
    color: black;
}

.nav-username {
    color: black;
    font-size: 16px;
}

.person-icon {
    margin-left: 5px;
}

.drop-down-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.drop-down-item {
    height: 1.5em;
    width: 70px;
    border: 1px solid black;
}