
.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;

    background-image: url('../../assets/header-image.jpg');
    background-size: 100%;

    /*development mode*/
    /*border: solid black 2px;*/
}

.search-bar {
    display: flex;
    height: 2em;
}

.search-field {
    width: 600px;
}

.search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
    color: var(--white);
    width: 80px;
}
