.main-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: var(--height-content);
}
.text-div {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 700px;
}

.form input{
    background-color: #ffffff;
    border: 1px solid #7A7A7A;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
    font-size: 16px;
    color: #7A7A7A;
    width: 450px;
}

.form label {
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.form input::placeholder,
.form textarea::placeholder {
    color: #7A7A7A;
}

section {
    display: flex;
    justify-content: flex-start;
    margin: 5px;
}

.button-section {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-right: 30px;
    width: 100%;
    justify-content: center;
}

.login-button {
    padding: 15px 25px;
    margin-top: 5px;
    margin-bottom: 10px;
    align-self: center;
    color: var(--white);
    background-color: var(--primary-variant-dark);
}
.error-message {
    display: flex;
    align-items: center;
    width: 400px;
    font-size: 16px;
    color: red;
    margin-left: 5px;
}
