/*TODO import lettertypes(s) @import url('');*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.outer-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.inner-container {
  flex-basis: 1200px;
  flex-shrink: 1;
  flex-grow: 0;
  /*We voegen margin toe aan de linker- en rechterkant, zodat de content nooit helemaal tegen de rand gedrukt kan worden*/
  margin: 0 20px;
  /*We zorgen er ook voor dat deze flex-item op haar beurt ook weer een flexbox container is, waarin alle children onder elkaar komen te staan*/
  display: flex;
  flex-direction: column;
  justify-content: center;
}



