@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;700&family=Heebo:wght@300;400;600&display=swap');
/*font-family: 'Domine', serif;*/
/*font-family: 'Heebo', sans-serif;*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Domine', serif;
  font-weight: 300;
  color: var(--black);
}

:root {
  --primary: #40c9a2;
  --primary-variant-dark: #2f9c95;
  --primary-variant-light: #a3f7b5 ;
  --light-background: #e5f9e0;
  --red: #960200;
  --secondary: #664147;
  --black: #000000;
  --white: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Heebo', sans-serif;
}

h1 {
  font-size: 65px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 24px;
}

.outer-container {
  width: 100vw;
  height: 100vh;
  /*background-color: var(--light-background);*/
}

.inner-container {
  flex-basis: 1440px;
  flex-shrink: 1;
  flex-grow: 0;
  /*We voegen margin toe aan de linker- en rechterkant, zodat de content nooit helemaal tegen de rand gedrukt kan worden*/
  margin-left: 80px;
  margin-right: 80px;
  /*We zorgen er ook voor dat deze flex-item op haar beurt ook weer een flexbox container is, waarin alle children onder elkaar komen te staan*/
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  color: var(--white);
  background-color: var(--primary-variant-light);
}



