.content-container {
    display: flex;
    flex-direction: column;
    min-height: var(--height-content);
    width: 100%
}

.recipe-article-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 75px;
    /*margin: 40px 0 0 0;*/
}

.recipe-article {
    border-radius: 3px;
    box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.1);
    background-color: var(--white);
    flex-basis: 380px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 15px;
}

img  {
    border-radius: 3px;
    width:200px;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}